.confirm-button {
  display: flex;
  border: 1px solid #cc4b37;
  justify-content: center;
  align-items: center;
}

.confirm-button-button {
  box-sizing: border-box;
  padding: 5px 15px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.confirm-button-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.confirm-button-main {
  color: #cc4b37;
}

.confirm-button-confirm-wrap {
  display: flex;
  flex-direction: row;
}

.confirm-button-confirm {
  color: #cc4b37;
  padding: 5px 5px;
}

.confirm-button-cancel {
  color: gray;
  padding: 5px 5px;
}
